<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0,maximum-scale=1,user-scalable=0">
	<!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-touch-fullscreen" content="yes"><!--"添加到主屏幕“后，全屏显示 -->
  	<meta name="apple-mobile-web-app-capable" content="yes" /><!--这meta的作用就是删除默认的苹果工具栏和菜单栏。-->
	<title>{:C("BLOG_CONFIG.blog_name")}的博客—{:C("SYSTEM.app_name")}个人博客</title>
	<link rel="stylesheet" type="text/css" href="__COMMON__/Common/Css/md-ui.css"/>
	<link rel="stylesheet" type="text/css" href="__COMMON__/Common/Css/font-awesome.css"/>
	<script src="__COMMON__/Common/Js/jquery-2.1.3.min.js"></script>
	
</head>
<body>
	<include file="Home/Common/Tpl/nav.html" />
	<div class="jumbotron-blue">
		<div class="logo">M</div>
		<h1>{:C('BLOG_CONFIG.blog_name')}的博客</h1>
		<p>{:C('BLOG_CONFIG.blog_introduce')}</p>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-3 min-hide">
				<div class="panel">
					<div class="panel-title"><i class="fa fa-file-text-o"></i>&nbsp;<strong>文章分类</strong></div>
					<div class="panel-content">
						<!--目录-->
						<ul class="catalogue">
							
							<foreach name="classify" item="class">
							<li><a href="#"><strong>{$key}</strong></a>
								<ul class="catalogue">
									<foreach name="class" item="arl">
										<li><a href="{:U('Article/preview',array(
										'aid'=>$arl["url"],
									),'html')}" target="_blank">{$arl['title']}</a></li>
									</foreach>
								</ul>
							</li>
							</foreach>
						</ul>
					</div>
					<div class="panel-footer"></div>
				</div>
				<div class="panel">
					<div class="panel-title"><i class="fa fa-file-text-o"></i>&nbsp;<strong>记录</strong></div>
					<div class="panel-content">
						<!--目录-->
						<ul class="catalogue">
							<foreach name="record" item="alists">
							<li><a href="#"><strong>{$key}</strong></a>
								<ul class="catalogue">
									<foreach name="alists" item="arl">
										<li><a href="{:U('Article/preview',array(
										'aid'=>$arl["url"],
									),'html')}" target="_blank">{$arl['title']}</a></li>
									</foreach>
								</ul>
							</li>
							</foreach>
						</ul>
					</div>
					<div class="panel-footer"></div>
				</div>


				

			</div>
			<div class="col-6">
				<div class="lump">
					<foreach name="articles" item="article">
						<div class="lump-content">
							<div class="piece">
								<div class="piece-title"><a href="{:U('Article/preview',array(
											'aid'=>$article["url"],
										),'html')}"><strong>{$article["title"]}</strong></a></div>
								<div class="piece-about">
									<span>时间：{:date('Y-m-d H:i:s',$article['time'])}</span>
									<span class="fa fa-eye">浏览:{$article["visit"]}</span>
									<span >类型:{$article["type"]}</span>
								</div>
								<div class="piece-content">
									{$article["abstract"]}
									<a href="{:U('Article/preview',array(
											'aid'=>$article["url"],
										),'html')}" class="piece-readall label-blue">阅读全文</a>
								</div>
							</div>
						</div>
					</foreach>
					<center>{$pages}</center>
					<!-- <center>
						<ul class="page-box page">
							<li><a href="#">«</a></li>
							<li><a href="#">1</a></li>
							<li class="page-active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li class="page-disabled"><a href="#">»</a></li>
						</ul>
					</center> -->
				</div>
			</div>
			<div class="col-3 min-hide">
				<div class="card">
					<div class="card-title">最新文章<a href="" class="more">更多</a></div>
					<div class="card-content">
						<ul class="article-top list-type-square">
							<foreach name="top" item="atop" >
								<li><a href="{:U('Article/preview',array(
										'aid'=>$atop["url"],
									),'html')}" target="_blank">{$atop['title']}</a><span class="article-host"></span></li>
							</foreach>
							
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<include file="Home/Common/Tpl/footer.html" />
	</body>
</html>