.list01 {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: -30px;
}
.list01 li {
  width: 360px;
  height: 275px;
  -webkit-box-shadow: 0px 1px 1px #ccc;
  -moz-box-shadow: 0px 1px 1px #ccc;
  -o-box-shadow: 0px 1px 1px #ccc;
  -ms-box-shadow: 0px 1px 1px #ccc;
  box-shadow: 0px 1px 1px #ccc;
  float: left;
  margin: 15px 0px 15px 30px;
  background-color: #fff;
}
.list01 li .spantop {
  width: 360px;
  height: 90px;
  position: relative;
}
.list01 li .spantop span {
  position: absolute;
  width: 80px;
  height: 80px;
  display: block;
  background-color: #fff;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  border-radius: 80px;
  -webkit-box-shadow: 0px 1px 3px #ccc;
  -moz-box-shadow: 0px 1px 3px #ccc;
  -o-box-shadow: 0px 1px 3px #ccc;
  -ms-box-shadow: 0px 1px 3px #ccc;
  box-shadow: 0px 1px 3px #ccc;
  bottom: -24px;
  left: 50%;
  margin-left: -40px;
}
.list01 li .spantop span a {
  display: block;
  width: 80px;
  height: 80px;
}
.list01 li .spantop span img {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  border-radius: 80px;
}
.list01 li p {
  text-align: center;
  margin-top: 30px;
  padding: 15px 30px;
}
.list01 li p .title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.list01 li p .content {
  font-size: 12px;
  color: #666;
  line-height: 1.8;
  display: block;
  text-align: left;
  margin-top: 15px;
  word-wrap: break-word;
}
.tab_title {
  background-color: #f9f9f9;
  height: 58px;
  line-height: 58px;
  border-bottom: 1px solid #dedede;
}
.tab_title a {
  font-size: 18px;
  color: #666;
  padding: 0 30px;
  display: inline-block;
  border-left: 1px solid #dedede;
  height: 58px;
}
.tab_title a:nth-child(1) {
  border: none !important;
}
.tab_title .cur {
  color: #333;
  font-weight: bold;
  background-color: #fff;
}
.tab_title .cur:nth-child(2) {
  border-right: 1px solid #dedede;
}
.list02 {
  padding: 15px 30px 30px 30px;
}
.list02 li {
  border-bottom: 1px dashed #e3e3e3;
  padding: 15px 0;
}
.list02 li .ahover {
  display: block;
}
.list02 li .ahover .firstdiv,
.list02 li .ahover .twodiv,
.list02 li .ahover .inforleft {
  float: left;
}
.list02 li .ahover .inforright {
  float: right;
}
.list02 li .ahover .firstdiv {
  width: 140px;
  padding: 0 10px 0 0;
}
.list02 li .ahover .firstdiv em {
  font-size: 14px;
}
.list02 li .ahover .firstdiv .fa-cubes {
  font-size: 14px;
  margin-right: 10px;
}
.list02 li .ahover .twodiv {
  width: 618px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list02 li .ahover .twodiv .title {
  color: #333;
  font-size: 16px;
}
.list02 li .ahover .twodiv .title:hover {
  color: #666;
}
.list02 li .ahover .twodiv .title .iconfont,
.list02 li .ahover .twodiv .title .fa {
  vertical-align: middle;
  margin-left: 10px;
  color: #7d98a4;
  font-size: 20px;
}
.list02 li .ahover .twodiv .title .icon-media {
  font-size: 18px;
}
.list02 li .ahover .twodiv .title .icon-files {
  font-size: 18px;
}
.list02 li .ahover .twodiv .title .icon-ask {
  font-size: 22px;
}
.list02 li .ahover .twodiv .title .fa-file-text-o {
  font-size: 21px;
}
.list02 li .ahover .twodiv .title .icon-code {
  font-size: 18px;
}
.list02 li .ahover .twodiv .infors {
  display: block;
  font-size: 12px;
  margin-top: 15px;
}
.list02 li .ahover .twodiv .infors .inforleft,
.list02 li .ahover .twodiv .infors .inforright {
  color: #999;
}
.list02 li .ahover .twodiv .infors .inforleft .r,
.list02 li .ahover .twodiv .infors .inforright .r {
  color: #333;
}
.list02 li .ahover .twodiv .infors .inforright a {
  border: 1px solid #bbb;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 5px;
}
.list02 li .ahover .twodiv .infors .inforright a:hover {
  color: #666;
}
.htitle {
  height: 58px;
  line-height: 58px;
  padding: 0 20px;
  border-bottom: 1px solid #dedede;
}
.htitle span {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  float: left;
}
.htitle a.most {
  font-size: 14px;
  color: #666;
  float: right;
}
.htitle a.most:hover {
  color: #333;
}