/*Top顶部css*/
.Top_Jie{width:100%;height:40px;line-height: 40px;background:#f5f5f5;}
.Top_left{width:300px;height:40px;margin-left:20px;}
.Top_left a{font-size:16px;}
.Top_Jie a:hover{color:#218C02;text-decoration: underline;}
.Top_Jie a{color:#999;}
.Top_right{width:300px;height:40px;font-size:15px;color:#6C6C6C;}
.Top_right a{font-size:14px;float:left;color:#6C6C6C;float:left;}
.Top_me a{padding-left:10px;padding-right:10px;}
.Top_gou{display:inline-block;width:50px;padding-left:20px;text-align: center;background:url("__PUBLIC__/Images/icon/1_2.gif");}
/*中间部分*/
.Top_mid{width:100%;height:60px;line-height:60px;background:#FF01A0;}
.Top_logo{width:100px;height:60px;}
.Top_biao{width:100px;height:60px;font-size:20px;margin-left:10px;font-family: "微软雅黑";}
.Top_biao a{color:#fff;}

.Top_sou{width:320px;height:50px;font-size:18px;}
.Top_so{width:250px;height:27px;background:#fff;padding-left:10px;border:1px solid #ddd;}
.Top_btn{width:50px;height:28px;background:#F5F5F5;color:#666;margin-left:-9px;border:1px solid #999;}
.Top_btn:hover{cursor: pointer;color:#000;}

/*注册界面head的css*/
.head{width:100%;height:60px;line-height: 60px;box-shadow: 0 0 1px #000;background:#fff;}
.head_logo{width:220px;height:50px;line-height:60px;font-size:16px;font-weight: bold;color: #ff4400;font-family: "微软雅黑";}
.head_logo img{float:left;margin-right:5px;}
.head_right{margin-right:20px;}
.head_right a:hover{color:#ff4400;}

/*left左侧导航css*/
.Dao_left{width:150px;height:auto;text-align: center;}

/*reg注册css*/
.reg{margin:0 auto;height:auto;}
.reg_mid{width:500px;height:100px;margin:0 auto;font-size:12px;font-weight: bolder;font-family: "微软雅黑";color:#ff4400;}
.reg_mid li{margin-top:20px;height:60px;line-height:32px;float:left;}
.reg_mid .tiao{width:95px;line-height:30px;font-size:14px;font-weight: bold;color:#ccc;}
.reg2{margin-left:5px;display:block;width:23px;height:32px;padding-left:9px;color:#fff;font-size:16px;}
.reg_1{background:url("../Images/icon/1.png");}
.reg_2{background:url("../Images/icon/2.png");}
.reg_se{color:#ccc;font-weight: normal;}
.reg_biao{width:350px;height:250px;margin:20px auto;}
.reg_biao tr{width:200px;height:50px;}
.next2{margin-left:100px;}
.next{display: block;width:60px;height:30px;font-family:"楷体";cursor:pointer;line-height:30px;text-align:center;background:#ff4400;font-size:14px;font-weight: bold;font-family:"微软雅黑";color:#fff;border-radius: 5px;}
.next:hover{color:#000;}
.ys_tiao{color:#ff4400;}
.reg_biao2{width:350px;height:250px;margin:20px auto;}
.reg_biao2 tr{height:35px;}
.reg_zhu{width:300px;height:200px;margin:0 auto;font-size:14px;line-height:20px;padding-top:30px;}
.w_da{font-size:18px;}

/*login登录*/
.login{width:1024px;height:500px;padding-top:10px;}
.login_left{width:1024px;height:430px;background:url("../Images/23.png");padding-top:70px;}
.login_deng{width:350px;height:290px;margin:0 auto;background:rgba(220,220,0,0.3);border:1px solid #fff;border-radius:10px;box-shadow: 0 0 10px #ff4400;}
.login_deng table{margin:0 auto;}
.login_deng tr{height:50px;}
.login_deng td{text-align: center;}
.login_deng .login_te{font-size:16px;font-weight: bold;font-family: "宋体";color:#ff4400;margin:0 auto;}
.next3{margin-top:10px;margin-left:10px;background:green;height:40px;line-height:40px;}
.wangji{color:blue;margin-right:30px;}
.wangji:hover{text-decoration: underline;}
.btn2{margin-top:10px;}
.bg{background:rgba(255,255,255,0.8);}
.person_wen2{width:50px;height:30px;padding-left:5px;color:#333;border:1px solid #ccc;outline: none;-webkit-transition:border 0.3s;}
.person_wen2:hover{border:1px solid #000;color:#000;-webkit-transition:0.3s linear;}
.zuo{margin-left:10px;cursor: pointer;}

/*后台首页right右侧css*/
.main_right{padding-top:5px;}
.main_Jie{width:730px;height:115px;border:1px solid #ccc;}
.main_ren{width:100%;height:70px;background:#f1f1f1;}
.main_zuo{width:210px;height:65px;margin-left:10px;}
.main_pit{margin:3px auto auto 10px;width:60px;height:60px;border-radius:50%;border:1px solid #ccc;overflow:hidden;}
.main_pit a{float:left;}
.main_pit:hover{border:1px solid #FF01A0;}
.main_name{width:auto;height:20px;margin-top:20px;overflow: hidden;margin-left:10px;font-size:14px;font-family: "微软雅黑";line-height:25px;}
.main_name a{color:#333;}
.main_name a:hover{color:#EB4C0F;}
.main_qian{width:200px;height:25px;margin-left:10px;font-size:12px;line-height:25px;overflow: hidden;}
.main_you{width:450px;height:70px;line-height:70px;}
.main_you a{display:inline-block;padding-right:50px;line-height:65px;}
.main_you a:hover{color:#FF01A0;}
.main_shoufa{height:45px;}
.main_shoufa a{display: inline-block;width:145px;height:20px;text-align:center;font-size:16px;float:left;border-right:1px solid #ccc;line-height:20px;margin-top:10px;}
.main_shoufa a:hover{color:#FF01A0;}
.welcome{width:600px;height:30px;line-height:30px;text-align: center;font-size:16px;margin-top:80px;}
.wel_y{font-size:20px;font-family: "微软雅黑";color:blue;font-weight: bold;}
.welcome a{color:#000;}
.welcome a:hover{color:blue;text-decoration: underline;}
                                                         
/*后台首页记录*/ 
.main_lishi{width:730px;height:315px;background:#f2f2f2;margin-top:30px;}
.main_title{width:100%;height:40px;line-height:40px;background:#66D9B1;}
.main_da{width:100px;height:40px;font-size:16px;font-weight:bold;font-family: "微软雅黑";color:#fff;margin-left:10px;}
.more{color:#111;font-size:14px;margin-right:20px;}
.more:hover{text-decoration: underline;}
.main_wen{width:100%;height:100%;}
.main_wen li{width:220px;height:240px;border:1px solid #ccc;margin:10px;float:left;background:#fff;}
.main_w img{width:220px;height:180px;}
.main_jia{width:100%;height:30px;font-size:14px;color:#FF4400;font-weight:bold;text-align:center;line-height:30px;overflow: hidden;}
.main_tou{width:100%;height:27px;font-size:13px;color:#000;text-align: center;overflow: hidden;}
.main_tou a{color:#000;}
.main_tou a:hover{color:#FF4400;}
.main_wen li:hover{border:1px solid #FF01A0;}

/*底部版权footer*/
.footer{width:100%;height:100px;background:#f1f1f1;margin-top:10px;clear:left;border-top:1px solid #ccc;}
.footer_jie{padding-top:20px;width:100%;text-align: center;height:40px;line-height: 40px;}
.footer_jie a{width:100px;font-size:13px;color:#333;font-weight: bold;padding-right:10px;}
.footer_jie a:hover{color:red;}
.footer_ban{width:100%;height:30px;line-height:30px;text-align: center;font-size:12px;}

/*安全设置页面css*/
.main_xinxi{width:800px;height:auto;border:1px solid #ccc;margin:0 auto;}
.main_title{width:790px;font-size:14px;font-weight: bold;padding-left:10px;}
.main_list{width:800px;height:400px;padding-top:30px;}
.main_list li{width:600px;height:80px;margin:0 auto;line-height: 80px;border-bottom:1px dashed #ccc;}
.main_zj{width:100px;height:50px;text-align: center;}
.main_say{width:380px;height:50px;padding-top:15px;text-align: left;color:#555;line-height: 25px;}
.main_cao{width:100px;height:50px;text-align: center;}
.main_cao a{font-weight: bold;font-size:14px;color:blue;}
.main_cao a:hover{color:red;}
.hand{cursor: pointer;}

/*个人资料页面css*/
.person_main{width:800px;height:auto;border-bottom:1px solid #ccc;}
.person_title{width:770px;height:50px;border-bottom:1px solid #ccc;line-height:50px;font-size:16px;font-weight: bold;padding-left:30px;}
.person_list{width:700px;margin-left:50px;height:auto;}
.person_list .ling{width:800px;height:100px;margin-top:20px;line-height: 100px;}
.person_list .li{width:800px;height:50px;margin-top:20px;line-height: 100px;}
.person_list li{width:800px;height:50px;}
.person_left{width:100px;text-align: center;height:50px;line-height:35px;font-size:15px;color:#333;}
.person_right{width:80px;height:80px;position:relative;overflow: hidden;}
.person_right img{width:78px;height:78px;border:1px double #ccc;}
.person_bian{cursor:pointer;width:100%;height:30px;line-height:30px;position: absolute;bottom:-30px;left:0;background:rgba(0,0,0,0.8);color:#fff;text-align: center;transition:bottom 0.3s;-webkit-transition:bottom 0.3s;-moz-transition:0.3s linear;-o-transition:0.3s linear;}
.person_right:hover .person_bian{bottom:0px;-webkit-transition:0.3s linear;-moz-transition:0.3s linear;-o-transition:0.3s linear;}
.person_wen{width:250px;height:30px;padding-left:5px;color:#333;border:1px solid #ccc;outline: none;-webkit-transition:border 0.3s;}
.person_wen:hover{border:1px solid #000;color:#000;-webkit-transition:0.3s linear;}
.person_sex{line-height:40px;}
.xuan{border:1px solid #ccc;}
.btn{width:80px;height:40px;background:#FF4400;color:#fff;font-weight: bold;border-radius: 5px;cursor: pointer;margin-left:90px;}
.btn:hover{color:#000;}

/*收货地址 address_list*/
.address_list{width:450px;height:auto;margin-left:50px;}
.address_list td{height:30px;}
.add_zhong{color:#EB4C0F;}
.address_you{width:200px;height:30px;border:1px solid #ccc;padding-left:5px;}
.address_you:hover{border:1px solid #333;}
.address_text{padding-left:5px;}
.address_text:hover{border:1px solid #333;}
.address_gao{margin-top:15px;margin-bottom:20px;}
.address_title{font-size:14px;font-weight: bold;font-family: "微软雅黑";margin-bottom:10px;margin-left:10px;}
.address_lie{width:700px;height:auto;margin:0 auto;border:1px solid #ccc;margin-bottom:30px;}
.address_lie table{width:700px;text-align: center;}
.address_lie th{height:20px;font-weight: normal;font-size:14px;background: #f1f1f1;}
.address_lie td{color:#333;font-size:13px;}
.address_lie td a{color:blue;}
.address_lie td a:hover{color:red;text-decoration: underline;}

/*我的评价部分 */
#Con{width:800px;}
#button2{width:800px;height:55px;cursor: pointer;border-bottom:3px solid #ff4400;}
#button2 a{color:#333;font-weight: bold; font-size:14px; font-family:"微软雅黑";
		height:35px; width:100px;background:#ccc;text-align: center; display:block;float:left;margin-top:20px; text-align:center;line-height:35px; }
#button2 a.ck{background:#FF4400;color:#fff;cursor: pointer;}
#content .txt_con{display:none;}
#content .txt_con table{width:100%;}
#content .txt_con th{height:40px;line-height: 40px;font-size:14px;border-bottom: 1px solid #ccc;}
#content .txt_con td{height:96px;border-bottom:1px solid #ccc;}
.ping_nei{width:350px;margin-right:10px;height:60px;line-height:20px;text-indent:2em;overflow: hidden;text-align: left;}
.ping_baby{width:155px;height:60px;overflow: hidden;text-align: left;}
.ping_mai{width:140px;height:30px;text-align:center;overflow: hidden;}
.ping_time{color:#333;}
.ping_cao{width:50px;}
.txt_con a{color:#3366CC;}
.txt_con a:hover{color:blue;}
.ping_ye{text-align: center;font-size:14px;font-weight: bold;margin-top:20px;}

/*店铺shen页面css*/
.shen_qing{background:green;color:#000;}
.shen_qing:hover{cursor: pointer;}
.da_who{font-size:16px;color:blue;font-weight:bold;}
.tishi{font-size:15px;text-indent: 2em;line-height: 25px;font-family: "微软雅黑";}

/*店铺头部颜色*/
.Top_yanse{background:#005DE6;}
.btn_se{background:#367FC4;margin-left:30px;}
.btn_se:hover{background:#005DE6;}
.wen_ben{line-height: 35px;}

/*店铺主页css*/
.store_tou{width:776px;height:230px;border:1px solid #ccc;}
.store_img{width:200px;height:200px;margin-left:10px;margin-top:10px;}
.store_img img{border:1px double #ddd;}
.store_right{width:540px;height:100px;margin-top:10px;}
.store_right tr{height:34px;line-height:20px;}
.store_right td{border:none;}
/*店铺主页消息部分的css*/
.store_xiao{width:780px;border:1px solid #ccc;margin-top:30px;}
.store_jie{width:100%;height:30px;font-size:14px;font-family:"微软雅黑";line-height:30px;background:#58B2FF;}
.store_xiao a{color:#111;}
.store_xx{margin-left:10px;font-weight:bold;}
.store_more{margin-right:10px;}
.store_more a:hover{text-decoration:underline;color:blue;}
.store_list{margin-bottom:10px;}
.store_list li{width:750px;height:30px;line-height:30px;margin-left:10px;border-bottom:1px dashed #ccc;}
.store_list li a:hover{color:blue;}
/*店铺发布商品css*/
#Con2{width:800px;}
#button3{width:800px;height:55px;cursor: pointer;}
#button3 a{color:#333;font-weight: bold; font-size:14px; font-family:"微软雅黑";
		height:45px; width:376px;background:#ccc;text-align: center;border-radius:10px 10px 0 0; display:block;float:left;margin-top:10px; text-align:center;line-height:45px; }
#button3 a.ck{background:#36A0CA;color:#fff;cursor: pointer;}
#content2{width:750px;height:1200px;/*border:1px dashed #36A0CA;*/border-top:5px solid #36a0ca;}
#content2 .txt_con{display:none;}
.main_height{height:1400px;}
.ys_lan{background:#0C6AE6;margin-left:200px;margin-top:10px;}
#content2 .txt_con table{width:100%;margin:0 auto;}
.te_gao{height:50px;}
#content2 .txt_con td{border:none;}
.te_ling{height:80px;}
.shop_xuan{width:100%;height:70px;border-bottom:1px dashed #ccc;line-height: 25px;}
.shop_midle{width:60%;margin:0 auto;}
.huoqu{margin-left:10px;}

table td{border:none;}
/*店铺评价页面css*/
.shopping_list{width:100%;}
.shopping_list a{color:blue;}
.shopping_list a:hover{color:red;}
.shopping_list table{width:100%;text-align: center;}
.shopping_list table td img{border:1px solid #ccc;}
.shopping_list table tr:nth-child(odd){background:#f1f1f1;}
.shopping_list table tr:hover{background:#AFD0F1;}
.shopping_list table th,td{height:30px;line-height:30px;border-right:1px dashed #ccc;border-bottom:1px dashed #ccc;}
.shop_left{border-left:1px dashed #ccc;}

/*店铺销售统计css*/
.shopping_lie{width:100%;height:40px;padding-top:10px;}
.shopping_leibie{width:50px;height:30px;cursor: pointer;line-height:30px;color:#000;font-weight:bold;border:1px solid #ddd;border-radius: 5px;background:#66B6FF;background:-webkit-gradient(linear, 0 0, 0 100%, from(#1AC7FF), to(#2074af));}
.shopping_leibie:hover{background:#1C9EFF;}
.shopping_name{width:84px;height:63px;overflow: hidden;line-height:auto;}

/*主页的货物查询样式*/
.lookshop_list{width:840px;border:1px solid #ccc;font-family: "微软雅黑";}
.lan_se{background:#EAF8FF;font-size:13px;color:#000;}
.hui_se{background:#F5F5F5;}
.hui_se td{border-right:1px solid #f5f5f5;}
.lookshop_list table{width:100%;}
.lookshop_list th{font-weight: normal;}
.look_height{height:35px;line-height: 35px;font-size:13px;}
.look_shang{width:330px;height:100px;}
.look_img{width:80px;height:80px;}
.look_say{width:240px;height:100px;overflow: hidden;}
.ys_ls{background:#64BCFF;font-weight: normal;}
.ys_ls:hover{background:#0271BB;}
.lookshop_list a{color:#000;}
.lookshop_list a:hover{color:blue;}
.list_ye td{border-top:1px solid #ccc;}

/*供应商头部颜色*/
.Top_ys{background:#63CF10;}