/*
*  for footer模板
*  @time: 2015-09-05 23:47
*  @auhtor:lanyue
*  @qq:1752295326
*/
#footer{
	margin-top: 20px;
	width: 80%;
	height: 150px;
	border-top:solid 1px #DDDDDD;
}
.copy{
	line-height: 30px;
	text-align: center;
}
.copy a{
	text-decoration: none;
	color:#1A81E8;
}